<html>
    <head>
        <title>Headlines</title> 
    </head>
    <body>
        <h2>Currency</h2>
        <form>
            from: <select name="currency_from">
                    {% for currency in currency.currencies %}
                        <option value="{{currency}}"
                        {{'selected="selected"' if currency.currency_from==currency}}>
                        {{currency}}</option>
                    {% endfor %}
                </select>
            to: <select name="currency_to">
                    {% for currency in currency.currencies %}
                        <option value="{{currency}}"
                        {{'selected="selected"' if currency.currency_to==currency}}>
                        {{currency}}</option>
                    {% endfor %}
                </select>

            <input type="submit" value="Submit">
        </form>
        <p>1 {{currency.currency_from}} = {{currency.currency_to}} {{currency.rate}}</p>
        
        <h2>Current weather</h2>
        <form>
            <input type="text" name="city" placeholder="weather search" />
            <input type="submit" value="Submit" />
        </form>

            <p>City: <b>{{weather.city}}</b>, <b>{{weather.country}}</b></p>
            <p>{{weather.description}} |{{weather.temperature}}&#8451;</p>
        <h2>Headlines</h2>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        {% for article in articles %}
            <b><a href="{{article.link}}">{{article.title}}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p>
            <hr />
        {% endfor %}
    </body>
</html>